/* --- Import de la police si besoin --- */
/* @import url('https://fonts.googleapis.com/css2?family=Sour+Gummy&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sour Gummy', cursive;
    background-color: #ffb20f;
    color: #000; /* Couleur par défaut du texte, attention aux overrides ! */
}

/* ========== HEADER ========== */
.header-container {
    background-color: #582707; /* marron foncé */
    padding: 10px 20px;
}

/* 
   On cible précisément le lien dans le h1.
   Si tu constates qu'il reste noir, tu peux ajouter !important 
   pour forcer la couleur blanche.
*/
.header-title a,
.header-title a:visited {
    color: white !important;
    text-decoration: none;
}

/* 
   .header-content gère le positionnement 
   (titre à gauche, burger/menus à droite).
*/
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1600px;
    margin: 0 auto;
}

/* Titre du site */
.header-title {
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 1px;
    /* Couleur du texte si pas de lien */
    color: white;
}

/* ========== BOUTON BURGER ========== */
.menu-toggle {
    /* Caché en grand écran, affiché en mobile plus bas */
    display: none;
    font-size: 28px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.menu-toggle:hover {
    transform: scale(1.1);
}

/* ========== NAVIGATION ========== */
.navigation-menu {
    display: flex; 
    align-items: center;
    gap: 25px;
}

.menu-list {
    list-style: none;
    display: flex;
    gap: 20px; /* Espace horizontal entre items */
    margin: 0;
    padding: 0;
}

.menu-item {
    margin: 0;
}

/* Liens du menu forcés en blanc par défaut */
.menu-link {
    text-decoration: none;
    color: white !important;   /* Couleur blanche par défaut */
    font-size: 26px;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

/* 
   Au survol, on veut le texte en noir 
   et un fond "rouge/orange".
*/
.menu-link:hover {
    background-color: rgba(255, 75, 62, 1);
    color: black !important;  
}


@media (max-width: 1200px) {
    .menu-toggle {
        display: block; /* On affiche le burger sur mobile */
    }

    /* On masque le menu horizontal tant que .active n'est pas présente */
    .navigation-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 65px; /* Ajuste selon la hauteur de ton header */
        right: 0;
        width: 100%;
        background-color: #582707;
        box-shadow: 0 4px 8px rgba(0,0,0,0.3);
        padding: 15px;
        animation: fadeIn 0.3s ease-in-out;
        z-index: 999;
    }

    .header-title{
        font-size: 35px;
    }

    .menu-toggle{
        font-size: 28px;
    }

    .navigation-menu.active {
        display: flex;
    }

    .menu-list {
        flex-direction: column;
        gap: 15px;
    }
}

/* Petit effet d'apparition pour le menu déroulant */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* STYLE DES TABLEAUX */

/* Conteneur du tableau */
.table-container {
    background-color: rgba(151, 45, 7, 1);
    border-radius: 15px;
    padding: 20px;
    max-width: 90%;
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Titre du tableau */
.table-title {
    color: white;
    text-align: center;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
}

/* Tableau stylisé */
.styled-table {
    width: 100%;
    border-collapse: collapse;
    color: white;
    border-radius: 10px;
    overflow: hidden;
}

/* En-têtes du tableau */
.styled-table thead th {
    padding: 15px;
    text-align: center;
    background-color: rgba(151, 45, 7, 1);
    color: white;
    font-size: 20px;
    font-weight: lighter;
}

/* Lignes du tableau */
.styled-table tbody tr {
    background-color: white;
    color: black;
    text-align: center;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

/* Cellules du tableau */
.styled-table td {
    padding: 10px;
    border-bottom: 1px solid rgba(151, 45, 7, 1);
}

/* Boutons d'action */
.cta-button {
    background-color: rgba(255, 75, 62, 1);
    border: none;
    color: white;
    padding: 8px 12px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.cta-button:hover {
    background-color: rgba(200, 50, 45, 1);
    transform: scale(1.1);
}

/* Statut annulé */
.annule {
    color: rgba(255, 75, 62, 1);
    font-weight: bold;
    font-size: 16px;
}

/* Conteneur de la barre de recherche */
.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

/* Champ de recherche */
.search-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgba(151, 45, 7, 1);
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.search-input:focus {
    border-color: rgba(255, 75, 62, 1);
}

/* Bouton de recherche */
.search-button {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: rgba(151, 45, 7, 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: rgba(255, 75, 62, 1);
}


.pagination {
    text-align: center;
}

.pagination-link {
    display: inline-block;
    margin: 0 5px;
    padding: 8px 12px;
    border: 1px solid rgba(151, 45, 7, 1);
    border-radius: 5px;
    color: black;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination-link:hover {
    background-color: rgba(151, 45, 7, 1);
    color: white;
}

.pagination-link.active {
    background-color: rgba(151, 45, 7, 1);
    color: white;
    font-weight: bold;
}

/* Style pour les petits écrans */
@media (max-width: 850px) {
    /* Conteneur du tableau */
    .table-container {
        padding: 10px;
    }

    /* Tableau transformé pour mobile */
    .styled-table {
        display: table;
        width: 100%;
        overflow-x: auto; /* Permet le défilement horizontal si nécessaire */
        border: 0; /* Supprime les bordures externes */
    }

    /* Masque les en-têtes du tableau */
    .styled-table thead {
        display: none;
    }

    /* Chaque ligne devient un bloc */
    .styled-table tbody tr {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-bottom: 10px;
        background-color: white;
        border: 1px solid rgba(151, 45, 7, 1);
        border-radius: 10px;
        overflow: hidden;
    }

    /* Chaque cellule devient un bloc avec titre */
    .styled-table td {

        width: 100%;
        justify-content: space-between;
        padding: 10px;
        font-size: 18px; /* Réduit la taille du texte */
    }

    /* Style des titres (pseudo-en-têtes) */
    .styled-table td:before {
        content: attr(data-label); /* Utilise l'attribut data-label */
        font-weight: bold;
        color: rgba(151, 45, 7, 1); /* Couleur brun foncé */
        flex: 1;
    }

    /* Boutons d'action */
    .cta-button {
        width: 100%;
        font-size: 18px;
        margin-top: 10px;
        color: #000;
    }

    /* Statut annulé */
    .annule {
        text-align: center;
        display: block;
        margin-top: 10px;
    }
    
}

/* PAGE D'ACCUEIL */

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.message-container {
    text-align: center;
    margin-top: 20px;
}

.message-success {
    background-color: #d4edda;
    color: #155724;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #c3e6cb;
    font-size: 16px;
    margin-bottom: 20px;
}

.message-error {
    background-color: #f8d7da;
    color: black;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #f5c6cb;
    font-size: 16px;
    margin-bottom: 20px;
}

/* Global styles for the form */
.appointment-form {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
    border: 2px solid rgba(151, 45, 7, 1);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    color: #333;
}

/* Form group styles */
.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

/* Label styles */
.form-label {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Input and select styles */
.form-input {
    padding: 10px;
    border: 1px solid rgba(151, 45, 7, 1);
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

/* Button styles */
.form-button {
    background-color: rgba(255, 75, 62, 1);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.form-button:hover {
    background-color: rgba(200, 50, 50, 1);
    transform: scale(1.05);
}

/* Focus styles */
.form-input:focus {
    outline: none;
    border-color: rgba(255, 75, 62, 1);
    box-shadow: 0 0 5px rgba(255, 75, 62, 0.5);
}

/* Mobile styles */
@media (max-width: 480px) {
    .appointment-form {
        padding: 15px;
        font-size: 14px;
    }

    .form-input, .form-button {
        font-size: 14px;
    }
}

/* PAGE MON COMPTE */

.account-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.account-card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.account-title {
    font-size: 24px;
    color: rgba(151, 45, 7, 1);
    margin-bottom: 20px;
}

.account-info p {
    font-size: 16px;
    margin: 10px 0;
}

.delete-button {
    background-color: rgba(255, 75, 62, 1);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: rgba(200, 45, 35, 1);
}

.account-error {
    color: red;
    font-size: 14px;
    margin-top: 20px;
}

.stat-total {
    margin: 20px 0;
    padding: 15px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.stat-total h4 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

.stat-total p {
    margin: 10px 0 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: #555;
}

.table-subtitle {
    margin-top: 30px;
    font-size: 1.3rem;
    color: white;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 15px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.tabs .tab {
    text-decoration: none;
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 0.9rem;
}

.tabs .tab:hover {
    background-color: #0056b3;
}

.tabs .tab.active {
    background-color: #0056b3;
    cursor: default;
}

.sync-message {
    text-align: center;
    color: white;
    margin: 10px; 
}